@page
@model Web.Pages.Questions.IndexModel

@{
    ViewData["Title"] = "質問項目一覧";
}

<h1>質問項目一覧</h1>

<p>
    <a asp-page="Create">新規作成</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>質問番号</th>
            <th>質問項目</th>
            <th>回答方式</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Question) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sort)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            @switch (item.Type)
            {
                case 0:
                    <td>自由記述</td>
                    break;
                case 1:
                    <td>項目選択</td>
                    break;
                case 2:
                    <td>複数選択</td>
                    break;
                default:
                    <th>&nbsp;</th>
                    break;
            }
            <td>
                <a asp-page="./Edit" asp-route-id="@item.QuestionID">編集</a> |
                <a asp-page="./Details" asp-route-id="@item.QuestionID">詳細</a> |
                <a asp-page="./Delete" asp-route-id="@item.QuestionID">削除</a>
            </td>
        </tr>
}
    </tbody>
</table>
