@page
@model Web.Pages.Questions.IndexModel

@{
    ViewData["Title"] = "質問項目一覧";
}

<h1>質問項目一覧</h1>

<p>
    <a asp-page="Create">新規作成</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>質問番号</th>
            <th>質問項目</th>
            <th>回答方式</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Question)
        {
            var tm = $"#modal-{item.QuestionID}";
            var mid = $"modal-{item.QuestionID}";
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Sort)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                @switch (item.Type)
                {
                    case 0:
                        <td>自由記述</td>
                        break;
                    case 1:
                        <td>項目選択</td>
                        break;
                    case 2:
                        <td>複数選択</td>
                        break;
                    default:
                        <th>&nbsp;</th>
                        break;
                }
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.QuestionID">編集</a> |
                    <a asp-page="./Details" asp-route-id="@item.QuestionID">詳細</a> |
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="@tm">
                        削除
                    </button>
                    <div class="modal fade" id="@mid" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="modal-label">削除確認</h4>
                                </div>
                                <div class="modal-body">
                                    この質問を削除しますか?
                                </div>
                                <div class="modal-footer">
                                    <a asp-page-handler="Delete" asp-route-id="@item.QuestionID" id="deleteBtn" class="btn bg-danger mr-1">OK</a>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">キャンセル</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
