@page
@model Web.Pages.Answers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Answer[0].AnswerDatetime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Answer) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AnswerDatetime)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AnswerID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AnswerID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AnswerID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
